<section class="message--create">
  <div class="grid">
    <% if @messages_scheduled.count > 0 %>
      <div class="scheduled-messages-bar">
        <%= render "messages/scheduled_messages_link", count: @messages_scheduled.count, client: @client %>
      </div>
    <% end %>
  </div>

  <div class="sendbar">
    <div class="grid">
      <%= form_for Message.new, remote: true do |f| %>
        <input name="client_id" type="hidden" value="<%= @client.id %>">

        <div class="grid__item width-two-thirds-lg">
          <%= f.text_field(:body, { autofocus: autofocus, type: 'text', class: 'sendbar__input main-message-input', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', placeholder: 'Send a text message' }) %>
        </div>
        <div class="grid__item width-one-third-lg">
          <button id="send_message" class="sendbar__button button--primary" type="submit">Send</button>

          <% if feature_flags.scheduled_messages %>
              <button id="send_later" class="sendbar__button" data-toggle="modal" type="button" data-target="#new-message-modal">Send later</button>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>
