.form-width--two-digit {
  max-width: $width-form-two-digit;
}

.form-width--four-digit {
  max-width: $width-form-four-digit;
}

.form-width--short {
  max-width: $width-form-short;
}

.form-width--med {
  max-width: $width-form-med;
}

.form-width--mid {
  max-width: $width-form-mid;
}

.form-width--long {
  max-width: $width-form-long;
}

.form-width--casenumber {
  max-width: $width-form-casenumber;
}

.form-width--date {
  max-width: $width-form-date;
}

.form-width--name {
  max-width: $width-form-name;
}

.form-width--phone {
  max-width: $width-form-phone;
}

.form-width--ssn {
  max-width: $width-form-ssn;
}

.form-width--zip {
  max-width: $width-form-zip;
}

.form-width--searchbar {
  max-width: $width-form-searchbar;
}
