.slab {
  @include full-bleed();
  position: relative;
  padding: {
    top: 2em;
    bottom: 2em;
  }
  border-bottom: 1px solid $color-tan;

  &:last-child {
    border-bottom: 0;
  }
}

.slab--white {
  background-color: #FFFFFF;
}

.slab--teal {
  background-color: rgba($color-teal, .05);
}

.slab--padded {
    padding: {
        top: 2em;
        bottom: 3em;
    }
}

.slab--not-padded {
  padding: {
    top: 0;
    bottom: 0;
  }
}

.slab--bleed {
  overflow: hidden;
}

.slab--borderless {
  border-bottom: none;
}

.card {
    border: 2px solid $color-tan;
    padding: 1.5em $site-margins/2;
    background-color: #FFFFFF;
    margin-bottom: 2em;
    > *:last-child {
        margin-bottom: 0;
    }

    @include media($tablet-up) {
      padding: 1.5em 2em;
    }
}

.notice {
  background-color: rgba($color-teal, .3);
  padding: $site-margins/2;
  margin-bottom: 1em;
  bottom: 30px;
  left: 0;
  width: 100%;

  .text-with-button {
    line-height: 36px;
  }
}

.tip {
  background-color: $color-light-green;
  padding: $site-margins/2;
  margin-bottom: 2em;
  bottom: 30px;
  left: 0;
  width: 100%;


  .tip-title {
    font-weight: bold;
    position: relative;
    top: -0.2em;
  }
}

.textwell {
  padding: 2em;
  max-height: 30rem;
  border: 2px solid $color-tan;
  overflow: auto;
  text-align: left;
  margin-bottom: 1em;
}
