.data-table-container {
  margin: {
    left: -$site-margins/2;
    right: -$site-margins/2;
  }
  @include media($tablet-up) {
    margin: {
      left: -$site-margins;
      right: -$site-margins;
    }
  }
}

.data-table {
  width: 100%;
  text-align: left;
  font-size: $font-size-small;
  border-collapse: collapse;
  border-bottom: 2px solid $color-tan;
  margin-bottom: 1em;

  th {
    padding: {
      top: .5em;
      bottom: .5em;
    }
    &:first-child {
      padding-left: $site-margins/2;
    }
    &:last-child {
      padding-right: $site-margins/2;
      @include media($tablet-up) {
        padding-right: $site-margins;
      }
    }
  }

  th, td {
    @include break-words();
    vertical-align: top;
    .cell-content {
      color: inherit;
      display: inline-block;
      height: 100%;
      text-decoration: none;
      width: 100%;
      padding: {
        top: .5em;
        bottom: .5em;
        right: 1em;
      }
    }
    .is-selected {
      color: $color-teal;
      font-weight: 700;
    }
    &:first-child {
      .cell-content {
        padding-left: $site-margins/2;
      }
      @include media($tablet-up) {
        .cell-content {
          padding-left: $site-margins;
        }
      }
    }
    &:last-child {
      .cell-content {
        padding-right: $site-margins/2;
      }
      @include media($tablet-up) {
        .cell-content {
          padding-right: $site-margins;
        }
      }
    }
  }

  th {
    font-weight: 400;
    @extend .text--help;
    border-bottom: 2px solid $color-tan;
  }

  tr {
    &:nth-child(2n) {
      td {
        background-color: #FFFFFF;
      }
    }
    &:nth-child(2n-1) {
      td {
        background-color: $color-light-grey;
      }
    }

    &.row--error td {
      background-color: tint($color-red, 40%);
    }

    &.row--warning td {
      background-color: tint($color-yellow, 40%);
    }

    &.row--warning:hover {
      background-color: tint($color-yellow, 37%);
    }
  }

  td {
    border-bottom: 1px solid $color-tan;
  }

  .status {
    white-space: nowrap;

      &.successful {
        color: $color-green;
      }

      &.failure {
        color: $color-red;
      }

      &.not-applicable {
        opacity: .3;
      }
  }

  .sort {
    cursor: pointer;
    
    .glyphicon-arrow-down {
      display: none;
    }
    .glyphicon-arrow-up {
      display: none;
    }

    &.asc {
      .glyphicon-sort {
        display: none;
      }
      .glyphicon-arrow-down {
        display: none;
      }
      .glyphicon-arrow-up {
        color: $color-teal;
        display: inline;
      }
    }

    &.desc {
      .glyphicon-sort {
        display: none;
      }
      .glyphicon-arrow-up {
        display: none;
      }
      .glyphicon-arrow-down {
        color: $color-teal;
        display: inline;
      }
    }
  }
}

.data-table--selectable {
  tr:hover {
    td {
      background-color: rgba($color-teal, .1);
      cursor: pointer;
    }
  }
}

.data-table--divided {
  td {
    border-right: 1px solid $color-tan;

    &:first-child {
      border-right: none;
    }
  }
}

td.category-order {
  padding-top: 10px;
  text-align: center;
}
