.searchbar {
  display: table;
  width: 100%;
  border-collapse: separate;
}

.searchbar__input {
  display: table-cell;
  width: 100%;
  border: 2px solid $color-light-grey;
  padding: .5em .7em .5em .7em;
  margin: 0;
  outline: 0;
  &:focus {
    border-color: $color-teal;
  }
}

.searchbar__button {
  @include transition(all $animation-fast);
  @include user-select(none);
  button {
    display: none;
  }

  @extend .button;
  display: table-cell;
  vertical-align: middle;
  appearance: none;
  width: 1%;
  border: 2px solid $color-light-grey;
  background-color: $color-light-grey;
  color: $color-teal;
  text-align: center;
  margin: 0;

  &:hover {
    color: $color-teal;
    background-color: tint($color-light-grey, 30%);
    border-color: tint($color-light-grey, 30%);
  }

  &:active {
    color: $color-teal;
    background-color: shade($color-light-grey, 10%);
    border-color: shade($color-light-grey, 10%);
  }
}

.input-group-addon {
  border: 2px solid #EAEAE9;
  background-color: #EAEAE9;
  padding-left: $width-image-icon;
  padding-right: $width-image-icon;
  border-radius: 2px 0px 0px 2px;

  &#search-addon {
    background-color: $color-background;
  }
}

.inner-addon {
    position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 15px;
  pointer-events: none;
  color: $color-grey;
}

.left-addon .glyphicon  {
  left:  0px;
}

.right-addon .glyphicon  {
  right:  0px;
}

.left-addon input  {
  padding-left:  45px;
}

.input-group-btn {
  height: 50px;
  .btn {
    font-size: $font-size-small;
    height: 100%;
    border: 2px solid #EAEAE9;
    background-color: #EAEAE9;
    padding-left: $width-image-icon;
    padding-right: $width-image-icon;
    border-radius: 0px 2px 2px 0px;
  }

  &:last-child {
    .btn {
      margin-left: 0px;
    }
  }
}

.client-search-input {
  margin-bottom: 1em;
}
