.sendbar {
  display: table;
  width: 100%;
  max-width: 960px;
  margin: auto;
  border-collapse: separate;
  .sendbar-inner {
    height: auto;
    overflow: hidden;
  }

  #sendbar-textarea {
    float: none;
    width: auto;
    overflow: hidden;
    border: 2px solid $color-teal;
    border-radius: .2em;
    .icon-photo {
      font-size: 34px;
    }

  }

  #sendbar-buttons {
    width: 20px;
    float: right;
    margin: 10px 20px;
    #send_icon {
      display: block;
      background-color: transparent;
      border: none;
      font-size: 30px;
      color: $color-teal;
      &:focus {
        outline: 0;
      }
    }
    #send_message, #send_later {
      display: none;
    }
    @include media($tablet-up) {
      width: 250px;
      margin: 0px 10px;
      #send_icon {
        display: none;
      }
      #send_message, #send_later {
        display: block;
      }
    }

    @include media($site-max-up) {
      &.warning-visible {
        margin-top: 17px;
      }
    }
  }

  #template-button {
    position: absolute;
    padding: 13px;
    font-size: 24px;
    color: $color-grey;
    right: 0px;
    top: 0px;
    outline: 0;

    &:hover {
      color: #a6005e;
    }

    &.warning-visible {
      margin-top: 16px;
    }
  }
}

.character-count {
  font-size: 12px;
  line-height: 1em;
  margin-bottom: 5px;
}

.relative-container {
  position: relative;
}

.pull-bottom {
  @include media($tablet-up) {
    position: absolute;
    bottom: 0;
  }
  right: 0;
}

.sendbar__input {
  border-left: 2px solid $color-teal;
  border-right: none;
  border-top: none;
  border-bottom: none;
  padding: .5em 1.2em .5em .7em;
  margin: 0;
  outline: 0;
  resize: none;
  max-height: 115px;
  width: 100%;
}
#send_later {
  margin-right: .3em;
  @include media($tablet-up) {
    margin-right: 0;
  }
}
.sendbar__button {
  @include transition(all $animation-fast);
  @include user-select(none);
  button {
    display: none;
  }

  @extend .button;
  display: table-cell;
  appearance: none;
  vertical-align: top;
  min-width: 5em;
  text-align: center;
  float: right;

  @include media($tablet-up) {
    float: left;
  }

  &:hover {
    color: #FFFFFF;
    background-color: tint($color-teal, 30%);
    border-color: tint($color-teal, 30%);
  }

  &:active {
    color: $color-teal;
    background-color: shade($color-teal, 10%);
    border-color: shade($color-teal, 10%);
  }
}

.scheduled-messages-bar {
  background-color: $color-header;
  border-color: $color-light-grey;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  display: block;
  padding: $padding-small;
  text-align: center;
  width: 100%;
}

section.message--create #sendbar-container{
  width: 100%;
  border-top: 2px solid $color-light-grey;
}

#image-upload {
  float: left;
  width: 60px;
  margin-top: 4px;
  margin-bottom: -4px;
  margin-right: -2px;
  text-align: center;

  input {
    display: none;
  }

  button {
    background-color: transparent;
    border-color: transparent;
  }
}

#file-name-preview {
  .image-help-text {
    .file-name {
      max-width: 200px;
      overflow: hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
      display: inline-block;
    }
    display: inline-block;
    vertical-align: bottom;
  }
}

#image-cancel {
  background-color: transparent;
  border-color: transparent;
  .hidden {
    display: none;
  }
  i {
    font-size: 25px;
  }
}

.right-fluid {
  overflow: hidden;
  margin-top: -2px;
  margin-bottom: -9px;
}

.warning {
  color: $color-red;
}

added {
  background-color: $color-green;
  color: $color-white;
  border-radius: .1em;
  font-size: .6em;
  margin: 10px;
  padding: 0px 6px 0px 6px;
  &:before {
    content: 'ADDED';
  }
}

