.toolbar-responsive {
  @include clearfix();
  max-width: $site-max-width;
  margin: {
    left: auto;
    right: auto;
  }
}

.toolbar--centered-responsive {
  display: inline-block;
}

.toolbar__item-responsive {
  float: left;
  margin-right: 1em;
}

.toolbar__left-responsive {
  float: left;
  margin-right: .5em;
}

.toolbar__right-responsive {
  float: left;
  margin-left: 0;
  @include media($mobile-up) {
    float: right;
  }
  .toolbar__item {
    margin-left: 0;
    @include media($mobile-up) {
      margin-left: .5em;
      display: inline-block;
      float: left;
    }
  }
}
