.template--clients, .template--mass-messages {
  .unread {
    font-weight: 700;
  }

  .read {
    font-weight: normal;
  }

  .error {
    color: $color-red;
  }

  .status-icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;

    &.unread-message {
      background-color: $color-green;
    }

    &.active {
      background-color: #007bff;
    }

    &.training {
      background-color: #e83e8c;
    }

    &.exited {
      background-color: #d48c00;
    }
  }
}
