div#unread-warning {
  a {
    font-weight: bold;
    color: black;
  }

  .icon-warning {
    color: #D40000;
  }

  .icon-warning-container {
    float: left;
    height: 115px;
    margin-right: 10px;
  }
}

#client-empty-dialog {
  margin-top: 140px;
}

.template--clients, .template--mass-messages {
  .unread {
    font-weight: 700;
  }

  .read {
    font-weight: normal;
  }

  .error {
    color: $color-red;
  }

  .status-icon {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;

    &.unread-message {
      background-color: $color-green;
    }

    &.active {
      background-color: #007bff;
    }

    &.training {
      background-color: #e83e8c;
    }

    &.exited {
      background-color: #d48c00;
    }
  }
}

.form--client {
  .notice .media-left {
    padding-left: 5px;
    padding-right: 20px;

    .icon-link_in_circle {
      height: 24px;
      width: 24px;
      background-color: white;
      border-radius: 100px;

      &:before {
        font-size: 28px;
        position: relative;
        top: -2px;
        left: -2px;
      }
    }
  }
  .notice .media-body > p {
    margin-bottom: 0;
    line-height: $line-height-display;
  }
}

#survey {
  display: none;
  padding: 20px;
  margin-top: 20px;

  .question-text {
    font-weight: bold;
  }

  .survey-response {
    margin: 10px 0;
    padding: 5px 10px;
    background: white;
    border: 2px $color-light-grey solid;
    font-size: 1.2em;
    width: 100%;

    .cb {
      line-height: 5px;
      position: relative;
      top: -4px;
      margin: 0px 5px;
    }
  }
}

// Put label for transfer client user select on top
label[for=reporting_relationship_user_id] {
  width: 100%;
}
label[for=reporting_relationship_user_id] p, label[for=transfer_note] p  {
  margin-bottom: 0;
}

#new_reporting_relationship fieldset.form-group {
  margin-bottom: 1em;
}

#new_reporting_relationship fieldset textarea#transfer_note.textarea {
  margin-bottom: 0;
}

#new_reporting_relationship fieldset div.select {
  margin-bottom: 0;
}

div.form-card__content div h4 {
  margin-top: 3em;
}

.purple-circle {
	border-radius: 50%;
	behavior: url(PIE.htc); /* remove if you don't care about IE8 */

	width: 1.4em;
	height: 1.4em;
	padding: 0em;
	margin: auto;
	background: $color-darkest-grey;
	border: 2px solid $color-darkest-grey;
	color: white;
	text-align: center;
  font: 1.4rem Arial, sans-serif;
}

th.scheduled-messages {
  width: 140px;
  div {
    float: right;
    width: 80px;
  }
}

td.scheduled-message-count {
  cursor: default;
  padding: 12px 30px 0px 0px;
}

i.category-symbol {
  cursor: pointer;
}
