.template--mass-messages {
  .data-table {
    label {
      font-weight: normal;
      cursor: pointer;
    }
  }
  #schedule-later-form {
    display: none;
  }

  #schedule-later-buttons {
    display: none;
  }
}
