.template--messages {

  // modal tweaks
  .close {
    font-size: 3.6rem;
  }

  .modal-header {
    table {
      margin-bottom: 0;
    }

    #modal-back-button {
      float: left;
      margin-bottom: 0;
      margin-right: 1em;
    }
  }

  .slab--header {
    padding: {
      bottom: .2em;
      top: .6em;
    }

    h2,
    p {
      margin-bottom: 0;
    }
  }

  .ui-datepicker-current-day {
    .ui-state-active {
      background: $color-magenta;
      color: #fff;
    }
  }

  .message--container {
    justify-content: space-between;
    margin-bottom: 7em;
    max-width: 750px;

    @include media($site-max-up) {
      margin-bottom: 3.5em;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    .message--outbound {
      margin-left: auto;

      .message--content {
        max-width: 100%;
        background: $color-teal;
        border-radius: 10px 10px 0px 10px;
        color: $color-background;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: $padding-small;
          right: $padding-small;
          top: $padding-small;
        }
        display: inline-block;
        @include break-words();
        @include media($mobile-up){
          max-width: 60%;
        }
        float: right;

        &.undelivered, &.blacklisted {
          background-color: $color-background;
          border: solid 2px $color-red;
          color: $color-dark-grey;
        }

        &.sent, &.sending {
          background-color: $color-light-teal;
        }
      }

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-small;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em 0;
        text-align: right;
        top: -.1em;
        width: 100%;
        display: block;
        float: right;

        &.undelivered, &.blacklisted {
          color: $color-red;
        }
      }
    }

    .message--inbound {
      width: 100%;
      display: inline-block;

      .message-row-container {
        position: relative;
      }


      %message--shared {
        max-width: 100%;
        background: $color-light-grey;
        border-radius: 10px 10px 10px 0px;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: $padding-small;
          right: $padding-small;
          top: $padding-small;
        }
        @include break-words();
        @include media($mobile-up){
          max-width: 60%;
        }
      }

      .message--content {
        @extend %message--shared;
        display: inline-block;
      }

      .message--image {
        @extend %message--shared;
        width: 60%;
        display: inline-block;

        .image-container {
          height: 0;
          overflow: hidden;
          position: relative;
        }

        img {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 100%;
        }
      }

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-small;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em 0;
        top: -.1em;
      }
   }

    .message--event {
      width: 100%;
      text-align: center;
      display: inline-block;

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-small;
        font-weight: 500;
        line-height: 1.4em;
        margin-bottom: 0.1em;
        display: inline-block;
        padding: 0 15px;
        position: relative;
      }

      .event--line {
        overflow: hidden;

        p {
          &:before, &:after {
            background-color: $color-light-grey;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            top: 0.7em;
            width: 400%;
          }

          &:before {
            right: 100%;
          }

          &:after {
            left: 100%;
          }
        }
      }
    }
  }

  .message--create {
    align-items: center;
    background: $color-background;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;

    .sendbar {
      padding: $padding-small;
      border-top: 2px solid $color-light-grey;

      like-options {
        like-option {
          cursor: pointer;
          display: inline-block;
          background: white;
          border: 1px #c1c1c1 solid;
          border-radius: 5px;
          margin: 7px 0px 2px 0px;
          padding: 7px;
          text-align: center;
          width: 45%;
          @include media($site-max-up) {
            width: 23%;
          }
        }
        like-option:hover {
          background: $color-tan;
        }
        like-option:nth-child(n+5) {
          display: none;
        }
        like-option:focus {
          border: 2px $color-teal solid;
          margin: 6px 0px 1px 0px;
          outline: none;
        }
      }
    }
  }

}

div#flexbox--container {
  display: flex;
  max-width: 960px;
  margin: auto;
}

.chat--header {
  z-index: 1;
  background: $color-background;
  .button__icon--left {
    margin-right: 0;

    @include media($site-max-up){
      margin-right: .5em;
    }
  }

  .header--container {
    max-width: 960px;
  }

  div.client-name {
    overflow: hidden;
    flex: 1 auto;
    margin: 5px 10px 5px 10px;
  }

  .header--paragraph {
    font-size: $font-size-small;
    margin-top: 4px;
    line-height: $line-height-normal;

    &.no-margin {
      margin-top: 0px;
    }
  }

  &.affix + #scroller-target {
    padding-top: 130px;
  }

  h2.client-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $font-size-normal;
    @include media($tablet-up) {
      font-size: $font-size-h3;
    }
  }

  &.affix {
    position: fixed;
    width: 100%;
    top: 0px;
  }

  #full_note {
    word-wrap: break-word;
  }
}

#messages-empty-dialog {
  margin-top: 70px;

  p {
    max-width: 300px;
    margin: auto;
    margin-top: 1em;
  }
}
