.template--messages {

  .slab--header {
    padding: {
      bottom: .5em;
      top: 1em;
    }

    h2,
    p {
      margin-bottom: 0;
    }
  }

  .message--container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1em;
    max-width: 750px;

    img {
      height: auto;
      max-width: 100%;
    }

    .message--outbound {
      flex-basis: 55%;
      margin-left: auto;

      .message__content {
        background: $color-teal;
        border-radius: 8px;
        color: $color-background;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: $padding-small;
          right: $padding-small;
          top: $padding-small;
        }
        text-align: right;
      }

      .message__label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-smallest;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em;
        text-align: right;
        top: -.1em;
      }
    }

    .message--inbound {
      align-self: flex-start;
      flex-basis: 55%;

      .message__content {
        background: $color-light-grey;
        border-radius: 6px;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: $padding-small;
          right: $padding-small;
          top: $padding-small;
        }
      }

      .message__label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-smallest;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em;
        top: -.1em;
      }
    }
  }

  .message--create {
    align-items: center;
    background: $color-background;
    border-top: 2px solid $color-light-grey;
    bottom: 0;
    color: #999;
    height: 80px;
    left: 0;
    padding: 0 5px;
    position: fixed;
    white-space: nowrap;
    width: 100%;
    z-index: 10;

    .sendbar {
      margin-top: .5em;
    }
  }

}
