.template--messages {

  // modal tweaks
  .close {
    font-size: 3.6rem;
  }

  .modal-header {
    table {
      margin-bottom: 0;
    }

    #modal-back-button {
      float: left;
      margin-bottom: 0;
      margin-right: 1em;
    }
  }

  .slab--header {
    padding: {
      bottom: .2em;
      top: .6em;
    }

    h2,
    p {
      margin-bottom: 0;
    }
  }

  .ui-datepicker-current-day {
    .ui-state-active {
      background: $color-magenta;
      color: #fff;
    }
  }

  .message--container {
    justify-content: space-between;
    margin-bottom: 7em;
    max-width: 750px;

    @include media($site-max-up) {
      margin-bottom: 3.5em;
    }

    img {
      height: auto;
      max-width: 100%;
    }

    .message--outbound {
      margin-left: auto;

      .message--content {
        max-width: 100%;
        background: $color-teal;
        border-radius: 10px 10px 0px 10px;
        color: $color-background;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: $padding-small;
          right: $padding-small;
          top: $padding-small;
        }
        display: inline-block;
        @include break-words();
        @include media($mobile-up){
          max-width: 60%;
        }
        float: right;

        &.undelivered {
          background-color: $color-background;
          border: solid 2px $color-red;
          color: $color-dark-grey;
        }
      }

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-small;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em 0;
        text-align: right;
        top: -.1em;
        width: 100%;
        display: block;
        float: right;

        &.undelivered {
          color: $color-red;
        }
      }

    }

    .message--inbound {
      width: 100%;
      display: inline-block;

      .message-row-container {
        position: relative;
      }

      .message--content {
        max-width: 100%;
        background: $color-light-grey;
        border-radius: 10px 10px 10px 0px;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: $padding-small;
          right: $padding-small;
          top: $padding-small;
        }
        @include break-words();
        @include media($mobile-up){
          max-width: 60%;
        }
        display: inline-block;
      }

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-small;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em 0;
        top: -.1em;
      }

      .show-like-options {
        background-color: #EAEAE9;
        color: #019C86;
        cursor: pointer;
        border-radius: 100px;
        position: absolute;
        top: 50%;
        margin-top: -15px;
        margin-left: 10px;
      }

      div.like-options {
        border: 2px #e3e3d9 solid;
        display: inline-block;
        position: absolute;
        background: #fafaf9;
        top: 50%;
        margin-top: -116px;
        margin-left: 40px;
        width: 220px;
        padding: 5px 5px 10px 5px;
        text-align: center;
        @include media($site-max-up) {
          margin-top: -64px;
          width: 385px;
        }

        &:after, &:before {
          right: 100%;
          top: 50%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
        }

        &:after {
          border-color: rgba(243, 243, 243, 0);
          border-right-color: #fafaf9;
          border-width: 10px;
          margin-top: -10px;
        }
        &:before {
          border-color: rgba(170, 170, 170, 0);
          border-right-color: #e3e3d9;
          border-width: 13px;
          margin-top: -13px;
        }

        div {
          cursor: pointer;
          display: inline-block;
          background: white;
          border: 1px #c1c1c1 solid;
          border-radius: 5px;
          margin-top: 7px;
          padding: 7px;
          width: 95%;
          @include media($site-max-up) {
            width: 48%;
          }
        }

        div:hover {
          -webkit-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.12);
          -moz-box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.12);
          box-shadow: 0px 2px 3px 2px rgba(0,0,0,0.12);
        }
      }
    }

    .message--event {
      width: 100%;
      text-align: center;
      display: inline-block;

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-small;
        font-weight: 500;
        line-height: 1.4em;
        margin-bottom: 0.1em;
        display: inline-block;
        padding: 0 15px;
        position: relative;
      }

      .event--line {
        overflow: hidden;

        p {
          &:before, &:after {
            background-color: $color-light-grey;
            content: "";
            display: block;
            height: 2px;
            position: absolute;
            top: 0.7em;
            width: 400%;
          }

          &:before {
            right: 100%;
          }

          &:after {
            left: 100%;
          }
        }
      }
    }
  }

  .message--create {
    align-items: center;
    background: $color-background;
    bottom: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 10;

    .sendbar {
      padding: $padding-small;
      border-top: 2px solid $color-light-grey;
    }
  }

}

div#flexbox--container {
  display: flex;
  max-width: 960px;
  margin: auto;
}

.chat--header {
  z-index: 1;
  background: $color-background;
  .button__icon--left {
    margin-right: 0;

    @include media($site-max-up){
      margin-right: .5em;
    }
  }

  .header--container {
    max-width: 960px;
  }

  div.client-name {
    overflow: hidden;
    flex: 1 auto;
    margin: 5px 10px 5px 10px;
  }

  .header--paragraph {
    font-size: $font-size-small;
    margin-top: 4px;
    line-height: $line-height-normal;

    &.no-margin {
      margin-top: 0px;
    }
  }

  &.affix + #scroller-target {
    padding-top: 130px;
  }

  h2.client-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: $font-size-normal;
    @include media($tablet-up) {
      font-size: $font-size-h3;
    }
  }

  &.affix {
    position: fixed;
    width: 100%;
    top: 0px;
  }

  #full_note {
    word-wrap: break-word;
  }
}

#messages-empty-dialog {
  margin-top: 70px;

  p {
    max-width: 300px;
    margin: auto;
    margin-top: 1em;
  }
}
