.template--messages {

  .slab--header {
    padding: {
      bottom: .5em;
      top: 1em;
    }

    h2,
    p {
      margin-bottom: 0;
    }

    .client-name {
      float: left;
      padding-right: .3em;
    }
  }

  .message--container {
    justify-content: space-between;
    margin-bottom: 1em;
    max-width: 750px;

    img {
      height: auto;
      max-width: 100%;
    }
    
    .message--outbound {
      margin-left: auto;

      .message--content {
        max-width: 100%;
        background: $color-teal;
        border-radius: 10px 10px 0px 10px;
        color: $color-background;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: 1.5em;
          right: 1.5em;
          top: $padding-small;
        }
        display: inline-block;
        @include media($mobile-up){
          max-width: 60%;
        }
        float: right;
      }

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-smallest;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em;
        text-align: right;
        top: -.1em;
        width: 100%;
        display: block;
        float: right;
      }
    }

    .message--inbound {
      width: 100%;
      display: inline-block;

      .message--content {
        max-width: 100%;
        background: $color-light-grey;
        border-radius: 10px 10px 10px 0px;
        margin-bottom: 10px;
        padding: {
          bottom: .5em;
          left: 1.5em;
          right: 1.5em;
          top: $padding-small;
        }
        @include media($mobile-up){
          max-width: 60%;
        }
        display: inline-block;
      }

      .message--label {
        background-color: $color-background;
        color: $color-grey;
        font-size: $font-size-smallest;
        font-weight: 500;
        line-height: 1.4em;
        margin-left: .2em;
        margin-top: -.5em;
        padding: .5em;
        top: -.1em;
      }
    }
  }

  .message--create {
    align-items: center;
    background: $color-background;
    border-top: 2px solid $color-light-grey;
    bottom: 0;
    color: #999;
    height: 80px;
    left: 0;
    padding: 0 5px;
    position: fixed;
    white-space: nowrap;
    width: 100%;
    z-index: 10;

    .sendbar {
      margin-top: .5em;
    }
  }

}
