.template--welcome-form {

  b {
    color: $color-teal;
  }

  .textarea {
    height: 6em;
    margin-top: 1em;
    padding: .5em 1em 1em 1em;
  }

  .welcome-form {
    max-width: 690px;
    margin-top: 2rem;
    margin-bottom: 2em;

    @include media($mobile-up) {
      margin-top: 10rem;
    }
  }

  .media-box {
    .media--small {
      margin-right: 0.8em;

      img {
        max-height: $width-image-small;
      }
    }
  }

  .reveal__content, .reveal__link {
    margin-bottom: 0.5em;
  }
}
