<table border="0" cellpadding="0" cellspacing="0" class="body">
  <tr>
    <td>&nbsp;</td>
    <td class="container">
      <div class="content">
        <!-- START CENTERED WHITE CONTAINER -->
        <span class="preheader">Your recent ClientComm upload - success!</span>
        <table class="main">
          <!-- START MAIN CONTENT AREA -->
          <tr>
            <td class="wrapper">
              <table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td>
                    <p class="header-appname">ClientComm</p>
                    <p>Hello,</p>
                    <p>This is a confirmation that <%= @reminders_scheduled %> court reminders were successfully scheduled on ClientComm.</p>
                    <p>If you have any questions about this data or reminders, please let us know by responding to this email.</p>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <!-- END MAIN CONTENT AREA -->
        </table>

        <!-- END CENTERED WHITE CONTAINER -->
      </div>
    </td>
    <td>&nbsp;</td>
  </tr>
</table>
