@media only screen and (max-width: 620px) {
  table.body h1 {
    font-size: 28px !important;
    margin-bottom: 10px !important;
  }
  table.body p,
  table.body ul,
  table.body ol,
  table.body td,
  table.body span,
  table.body a {
    font-size: 16px !important;
  }
  table.body .wrapper,
  table.body .article {
    padding: 10px !important;
  }
  table.body .content {
    padding: 0 !important;
  }
  table.body .container {
    padding: 0 !important;
    width: 100% !important;
  }
  table.body .main {
    border-left-width: 0 !important;
    border-radius: 0 !important;
    border-right-width: 0 !important;
  }
  table.body .btn {
    width: 100% !important;
  }
  table.body .btn a {
    width: 100% !important;
  }
  table.body .img-responsive {
    height: auto !important;
    max-width: 100% !important;
    width: auto !important;
  }
}

body {
  background-color: #FAFAF9 !important;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

table {
  border-collapse: separate;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;

  td {
    vertical-align: top;
  }
  td, p {
  }
}

table.body {
  background-color:#FAFAF9 !important;
  width: 100%;

  td.wrapper {
    box-sizing: border-box;
    padding: 20px;
  }
}

.main {
  background-color: #FFFFFF;
  border-radius: 3px;
  width: 100%;
}

.btn td {
  border-radius: 5px;
  text-align: center;
  background-color: #019C86;
}

.btn-primary {
  box-sizing: border-box;
  width: auto;
  margin-bottom: 15px;
}

.btn-primary table td:hover {
  background-color: #34b09e !important;
}
.btn-primary a:hover {
  background-color: #34B09E !important;
  border-color: #34B09E !important;
}

table.body td.container {
  display: block;
  max-width: 580px;
  padding: 10px;
  width: 580px;
}

.container {
  margin: 0 auto !important;
}

.content {
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 580px;
  padding: 10px;
}

.preheader {
  color: transparent;
  display: none;
  height: 0;
  max-height: 0;
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  mso-hide: all;
  visibility: hidden;
  width: 0;
}

.wrapper > table {
  width: 100%;
}

p {
  font-weight: normal;
  margin: 0;
  margin-bottom: 15px;
}

.header-appname {
  color: #666666;
  font-weight: bold;
  font-size: 19px;
}

.message-well {
  font-size: 18px;
  background-color: #FAFAF9;
  padding: 10px;
  border: 1px solid #EAEAE9;
  border-radius: 4px;
}

.email-cta {
  border: solid 1px #019C86;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 0;
  padding: 12px 25px;
  text-decoration: none;
  background-color: #019C86;
  color: #FFFFFF;
}
