<div class="form-card form-card--compact">
  <div class="form-card__header">
    <h1 class="form-card__title">Manage</h1>
  </div>
  <div class="form-card__content">
    <a href="<%= client_messages_download_path(@client) %>">
      <button class="button">Download transcript <i class="button__icon icon-get_app"></i></button>
    </a>
  </div>
</div>