  <tr id="<%= dom_id(client) %>" class="<%= client_messages_read_or_unread(client) %>">
    <td><%= link_to client.full_name, client_messages_path(client.id) %></td>
    <td><%= link_to time_ago_in_words(client.contacted_at), client_messages_path(client.id) %></td>
  </tr>

