<div class="status-banner-container with-padding-large">
  <% @clients_by_status.each do |status, ids| %>
    <div class="notice">
      <div class="toolbar-responsive">
        <div class="toolbar__left-responsive">
          <span class="text-with-button"><%= "You have #{pluralize(ids.count, "#{status.downcase} client")} due for follow up" %></span>
        </div>
        <div class="toolbar__right-responsive">
          <%= link_to "Message them", new_mass_message_path(clients: ids), class: "button button--small with-no-padding" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
