<div class="slab">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <%= render 'client_form', form_title: form_title, save_text: save_text %>
      <%= render 'client_manage', form_title: form_title, save_text: save_text %>
    </div>
  </div>
</div>
