<% content_for(:template_name) { "clients" } %>
<div class="slab">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <%= render 'clients/client_form', form_title: 'Edit client', save_text: 'Save changes' %>
      <%= render 'clients/client_manage', form_title: 'Edit client', save_text: 'Save changes' %>
    </div>
  </div>
</div>
