<% content_for(:template_name) { "clients" }  %>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">

          <div class="toolbar with-padding-med">
            <div class="toolbar__left">
              <h1>My clients</h1>
            </div>
            <div class="toolbar__right">
              <%= link_to new_client_path, class: "button button--small button--cta" do %>
                <i class="button__icon--left icon-add"></i> New client
              <% end %>
            </div>
          </div>

          <div class="grid__item">
            <table class="data-table data-table--selectable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last contact</th>
                  <th class="hidden-xs">Action</th>
                </tr>
              </thead>
              <%= render "clients/clients" %>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
