<% content_for(:template_name) { "clients" }  %>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">

          <div class="toolbar with-padding-med">
            <div class="toolbar__left">
              <h1>My clients</h1>
            </div>
            <div class="toolbar__right">
              <%= link_to new_client_path, class: "button button--small button--cta" do %>
                <i class="button__icon--left icon-add"></i> New client
              <% end %>
            </div>
          </div>

          <div id="client-list" class="grid__item">
            <div class="input-group client-search-input">
              <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></span>
              <input type="text" class="searchbar__input search" placeholder="Search clients by name" />
              <span class="input-group-btn"><button id="clear_search" class="btn btn-default" type="button"><i class="icon-close"></i></button></span>
            </div>
            <table class="data-table data-table--selectable">
              <thead>
                <tr>
                  <th class="sort" data-sort="full-name">
                    <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    Name
                  </th>
                  <th class="sort desc" data-sort="last-contact">
                    <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    Last contact
                  </th>
                </tr>
              </thead>
              <%= render "clients/clients" %>
            </table>
            <div id="no-search-results" class="alert alert-info" role="alert" style="display: none;">
              Your search didn't return any results. Clear your search to view all clients.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
