<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">

          <div class="toolbar with-padding-med">
            <div class="toolbar__left">
              <h1>My clients</h1>
            </div>
            <div class="toolbar__right">
              <%= link_to new_client_path, class: "button button--small button--cta" do %>
                <i class="button__icon--left icon-add"></i> New client
              <% end %>
            </div>
          </div>

          <div class="grid__item">
            <table class="data-table data-table--selectable">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Last contact</th>
                </tr>
              </thead>
              <tbody>
              <% @clients.each do |client| %>
                <tr id="<%= dom_id(client) %>">
                  <td><%= link_to client.full_name, client_messages_path(client.id) %></td>
                  <td><%= link_to time_ago_in_words(client.contacted_at), client_messages_path(client.id) %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
