<% content_for(:template_name) { "clients" }  %>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">
          <%= render "clients/client_status" %>
          <% if current_user.treatment_group == 'ebp-1-4' %>
          <div class="tip">
            <div class="emoji emoji--tiny emoji--electric-light-bulb"></div>
            <span class="tip-title">ClientComm Tips &amp; Tricks</span>
            <div class="media-body">
              Clients who get four positive reinforcements for every
              sanction are more likely to succeed. <a href="/mass_messages/new?message=Just+wanted+to+say+keep+up+the+good+compliance...+good+job!&utm_source=intercom&utm_campaign=ebp">Click here</a>
              to send a positive reinforcement.
            </div>
          </div>
          <% end %>
          <div class="toolbar-responsive with-padding-med">
            <div class="toolbar__left-responsive">
              <h1>My clients</h1>
            </div>
            <div class="toolbar__right-responsive">
              <%= link_to new_client_path, class: "button button--small" do %>
                <i class="button__icon--left icon-add"></i> New client
              <% end %>
              <% if FeatureFlag.enabled?("mass_messages") %>
                <%= link_to new_mass_message_path, class: "button button--small button--primary" do %>
                  Mass message
                <% end %>
              <% end %>
            </div>
          </div>
          <%= render "clients/clients" %>
        </div>
      </div>
    </div>
  </div>
</section>
