<% content_for(:template_name) { "clients" }  %>

<section class="slab slab--padded" id="scroller-target">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <div class="media-box--bleed media-box">
        <div class="media-box__content">

          <div class="toolbar-responsive with-padding-med">
            <div class="toolbar__left-responsive">
              <h1>My clients</h1>
            </div>
            <div class="toolbar__right-responsive">
              <%= link_to new_client_path, class: "button button--small" do %>
                <i class="button__icon--left icon-add"></i> New client
              <% end %>
              <% if feature_flags.mass_messages %>
                <%= link_to new_mass_message_path, class: "button button--small button--primary" do %>
                  Mass message
                <% end %>
              <% end %>
            </div>
          </div>

          <div id="client-list" class="grid__item">
            <% if feature_flags.search_and_sort == true %>
              <div class="input-group client-search-input">
                <div class="inner-addon left-addon">
                  <input type="text" class="searchbar__input search" placeholder="Search clients by name" />
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                <span class="input-group-btn"><button id="clear_search" class="btn btn-default" type="button"><i class="icon-close"></i></button></span>
              </div>
            <% end %>
            <table class="data-table data-table--selectable">
              <thead>
                <tr>
                  <th <% if feature_flags.search_and_sort == true %> class="sort" data-sort="lastname" <% end %>>
                    <% if feature_flags.search_and_sort == true %>
                      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    <% end %>
                    Name
                  </th>
                  <th <% if feature_flags.search_and_sort == true %> class="sort desc" data-sort="timestamp" <% end %>>
                    <% if feature_flags.search_and_sort == true %>
                      <span class="glyphicon glyphicon-sort" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                      <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    <% end %>
                    Last contact
                  </th>
                  <th class="hidden-xs">Action</th>
                </tr>
              </thead>
              <%= render "clients/clients" %>
            </table>
            <div id="no-search-results" class="notice" role="alert" style="display: none;">
              Your search didn't return any results. Clear your search to view all clients.
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
