<div class="slab">
  <div class="grid">
    <div class="grid__item width-two-thirds shift-one-sixth">
      <%= render 'client_form', form_title: 'Add a new client', save_text: 'Save new client' %>
    </div>
  </div>
</div>
