<div class="message--event" id="message_<%= client_edit_marker %>">
  <div class="event--line">
    <p class="message--label">
    <%= client_edit_marker.body %>
    </p>
  </div>
  <p class="message--label">
  <%= client_edit_marker.send_at.strftime('%-m/%-d/%y, %-l:%M%P') %>
  </p>
</div>
