<div class="template--error">
  <div class="page-wrapper">
    <div class="slab slab--padded">
      <div class="grid">
        <div class="grid__item width-one-half shift-one-fourth text--centered">
          <div class="illustration illustration--confused_face"></div>
          <h3 class="with-padding-med">There has been a problem on our end.</h3>
          <p class="text--small">If you can, <a href="#" id="intercom">tell us what you were doing</a> when this
            happened
            to help us fix the problem.</p>
          <p class="text--small with-padding-large">Otherwise, try starting from our <a href="/"> homepage</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
