<p>Disabling an account means xyz</p>

<% if resource.clients.where(active: true).empty? %>
    <%= link_to 'Disable account', disable_confirm_admin_user_path(resource) %>
<% else %>
    This user has active clients assigned to them.
<% end %>
