<h3>Disabling an account means that this user will no longer be able to log in. You can re-enable their account at any
  time.</h3>
<% if @clients_to_disable.any? %>
  <div class='panel'>
    <h3>Warning: This user has active clients</h3>
    <div class='panel-content'>
      <p>
        These clients will no longer be able to text this user.
        Incoming texts will be received by the active user most
        recently in contact with this client, or the unclaimed user for this department.
      </p>
      <ul>
        <% @clients_to_disable.each do |client| %>
          <li><%= client.full_name %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
<%= link_to 'Disable account', disable_confirm_admin_user_path(resource), {class: 'button'} %>

