<div class="flash-container" id="dismiss-notice">
  <div class="<%= classes.join ' ' %>">
    <p class="flash__message"><%= body %></p>
    <a href="#dismiss-notice" class="flash__dismiss"><span class="icon icon-close"></span></a>
  </div>
</div>
